@import'initialize';
@import'bt';
@import'settings';



*{
    direction: $dir;
    box-sizing: border-box;
    margin: 0;
    font-family: 'font-family';
}
body{
    background-color: $bg-color;
}

